@model object

@{
    ViewBag.Title = "Scrum Estimation Tool: Host";
    Layout = "_Layout";
}

<script type="text/javascript">
    function GetCurrentEstimationResult() {
      $.ajax({
        url: '@Url.Action("GetCurrentEstimationResult", "Host")',
        type: 'POST',
        data: {
            
        },
        success: function(currentEstimationResult) {
          if (confirm(currentEstimationResult.count + " guys have given their estimation, are you sure to reveal the result?" +
           "\rCurrent participants: \r" + currentEstimationResult.participantsName))
          {
            $('#estimation-result-content').text(currentEstimationResult.estimationResult);
          }
        }
      })
    }
    
    function Reset() {
      if (confirm("Sure to reset the estimation state?")) {
        $.ajax({
          url: '@Url.Action("ResetEstimation", "Host")',
          type: 'POST',
          data: {
              
          },
          success: function(resetResult) {
            $('#estimation-result-content').text("Estimation Refreshed.");
            alert("Estimation refreshed!");
          }
        })
      }
    }
</script>

<h2>Host</h2>

<div>
    <a type="button" onclick="GetCurrentEstimationResult()">&nbsp; Show estimations &nbsp;</a>
    <a type="button" onclick="Reset()">&nbsp; Reset &nbsp;</a>
</div>

<div>
    Estimation Result:
    <p id="estimation-result-content">There is the result.</p>
</div>


