@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
  function CreateRoom() {
    $.ajax({
      url: '@Url.Action("CreateRoom", "Home")',
      type: 'POST',
      data: {
        roomId: $('#roomId-given').val(),
      },
      success: function(data) {
        window.location.href = data;
      }
    })
  }
</script>

<style>
.homepage-panel {
  float:left;
  padding: 30px;
  width: 50%;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web tool helps your team do the Scrum estimation. 
        Please create a room or join one by shared id. Have fun!</p>
</div>

<div>
  <div class="homepage-panel" style="border-right: 5px solid">
    <h3>Host:</h3>
    Create a room? <br/>
    Room Id:
    <input id="roomId-given" type="text"/> <br/>
    <input type="button" value="Get this room!" onclick="CreateRoom()"/>
  </div>

  <div class="homepage-panel">
    <h3>Participant:</h3>
    Join a room? <br/>
    Room Id:
    <input id="roomId-join" type="text"/> <br/>
    <input type="button" value="Join!" onclick="JoinRoom()"/>
  </div>
</div>
