@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web tool helps your team do the Scrum estimation. 
        Please click the <a href="/Host/Index">host</a> and <a href="/Participant/Index">participant</a> on the above 
        and have a try.</p>
</div>
