@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We only use a temporary memory storing current estimation data. After you click the "Reset" button on Host page, 
    all DATA stored will be erased.</p>
