@model object

@{
    ViewBag.Title = "Scrum Estimation Tool: Participant";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/participant.css" />

<script src="~/js/participant.js"></script>

<script>
    window.onload = loadParticipantPage;
</script>

<h2>Participant</h2>

<div>
    <div class="participant-panel" style="border-right: 5px solid">
        Current room id:
        <p id="roomId-show"></p>
    </div>
    
    <div class="participant-panel">
        <form>
            Your Name: 
            <input id="participant-name" type="text"/> <br/>
            Your Current Estimation:
            <text id="participant-estimation">1</text> <br/>
            <input type="button" onclick="submitEstimation()" value="Submit"/>
        </form>
    </div>
    
    <div>
    </div>
</div>

<div>
    Click the card below giving a quick estimation:
</div>
<div width="100%">
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">1</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">2</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">3</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">5</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">8</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">666</div>
    </div>
    <div class="poker-card__container">
        <div class="poker-card__body" onclick="pokerCardOnSelected(this)">0</div>
    </div>
</div>

<div style="clear:both;"></div>