@model object

@{
    ViewBag.Title = "Scrum Estimation Tool: Participant";
    Layout = "_Layout";
}

<script>
    function SubmitEstimation() {
      $.ajax({
        url: '@Url.Action("SubmitEstimationPoint", "Participant")',
        type: 'POST',
        data: {
            Name: $('#participant-name').val(),
            PersonalEstimation: $('#participant-estimation').val(),
        },
        success: function() {
          alert("Submit Success");
        }
      })
    }
</script>

<h2>Participant</h2>

<div>
    <form>
        Your Name: <br/>
        <input id="participant-name" type="text"/> <br/>
        Your Estimation: <br/>
        <input id="participant-estimation" type="text"/> <br/>
        <input type="button" onclick="SubmitEstimation()" value="Submit"/>
    </form>
</div>
